#!/usr/bin/make -f

DEB_AUTO_CLEANUP_RCS            := yes

DEB_CMAKE_EXTRA_FLAGS := -DWITH_STATIC_LIB=ON

include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_DBG_PACKAGE_libssh-4 = libssh-dbg

common-build-indep::
	cd obj-*/; make doc

install/libssh-4::
	install -D -m 644 debian/libssh-4.lintian-overrides debian/libssh-4/usr/share/lintian/overrides/libssh-4
